<!DOCTYPE html>
<html>
  <head>
    <title>RecordStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navigation">
      <div class="header">
        <h1>record store</h1>
      </div>
      <div class="links">
        <ul>
          <% if current_user && current_user.admin %>
            <li>
              <%= link_to "admin panel", rails_admin_path %>
            </li>
            <li>
              <%= link_to "sign out", destroy_user_session_path, method: :delete %>
            </li>
          <% elsif current_user %>
            <li>
              <%= link_to "profile", account_path(current_user.account) %>
            </li>
            <li>
              <%= link_to "sign out", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "sign in", new_user_session_path %>
            </li>
            <li>
              <%= link_to "sign up", new_user_registration_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
